.ReviewlistPageTitle {
    text-align: center;
    font-size: 35px;
    font-weight: 750;
    background-color: Review;
    padding-top: 25px;
  }
  
  .Reviewlist {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 20px 0px;
  }
  
  .ReviewlistComponent {
    width: 70vw;
    min-height: 40vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    /* padding: 20px; */
    margin: 20px;
    background-color: white;
    padding-left: 30px;
  }
  
  .Reviewlistdisc {
    width: 45%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 5px;
  }
  
  .Reviewlisttitle {
    height: 15%;
    font-size: 30px;
    font-weight: 700;
    /* border: 1px solid black; */
    padding-top: 10px;
  }
  
  .Reviewlistdays {
    height: 15%;
    /* display: flex; */
    /* align-items: center; */
    font-size: 18px;
    color: gray;
    /* border: 1px solid black; */
  }
  
  .Reviewlistdescription {
    width: 63vw;
    font-size: 20px;
    font-weight: 400;
    /* border: 1px solid black; */
  }